﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Response.aspx.cs" Inherits="ValuaTravel_Pedidos_CRM.Response" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
     <div id="HeaderDiv" runat="server" >
            <img src="Image/CABECERA_TRAVEL_2 copia_Fotor.jpg" style="width:100%" height:"500px"/>
         </div>      
       <div id="FooterDiv" runat="server" >    
            <%-- <img src="Image/AF_FOOTER_general.jpg" runat="server" id="footerImage" style="width:100%;height:100%" />--%>
        </div>
    </form>
</body>
</html>
